<div class="card mat-card" id="first-card">
    <div id="profile-background"><img id="info-back-img"
        src="./assets/img/fondo1.png" width="560" height="240">
    </div>
    <div id="info" style="padding: 16px">
      <div id="info-img">
        <img id="info-user-img" class="profile-image"
          src="./assets/img/trb.gif">
        <div class="btn-edit"><a href="#" class="btn-right"><i class='bx bxs-pencil bx-border' style='color:#336450' 
              onclick="showEditProfileModal()"></i></a></div>
      </div>
      <div id="info-data">
        <div>
          <h1 id="info-name">Guadalupe Frias</h1>
          <div><span id="info-position">Estudiante Argentina Programa</span> en <span
              id="info-company">INTI</span></div>
          <div id="info-contact">
            <span id="info-ubication">Ciudad de Buenos Aires (Argentina)</span>
            <span><a href="mailto:trestrebolesamarillos@gmail.com?subject=ArgentinaPrograma">Contactarse</a></span>
            <span> <a href="src/curriculum.txt">Descargar Info</a></span>
          </div>
        </div>
        <ul id="info-details">
          <li><a href="#">
              <img id="info-company-img"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0a/INTI_Logo_2019.png/1024px-INTI_Logo_2019.png">
              <h2 id="info-company-name">INTI</h2>
            </a></li>
          <li><a href="#">
              <img id="info-school-img"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/58/UBP_V_D_1-m.png/800px-UBP_V_D_1-m.png">
              <h2 id="info-school-name">Universidad Blas Pascal</h2>
            </a></li>
        </ul>
      </div>
      <div id="info-actions">
        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
        <a href="#section1" button type="button" class="btn btn-secondary" >Acerca de mi</a>
        <a href="#section2" button type="button" class="btn btn-success ">Experiencia</a>
        <a href="#section3"button type="button" class="btn btn-secondary"  >Educación</a>
        <a href="#section4"button type="button" class="btn btn-success"  >Skills</a>
        <a href="#section5"button type="button" class="btn btn-secondary" >Proyectos</a>
        <a href="#section6"button type="button"  class="btn btn-success"  >Comentarios</a>
      </div>
    </div>
  </div>
