<header >
   
    <nav class="navbar navbar-expand-lg sticky-top  navbar-light" style="background-color: #5CBF88">
      <a class="navbar-brand" href="https://argentinaprograma.inti.gob.ar/"><img src="./assets/img/LOGO.png" alt="" width="30" height="24" class="d-inline-block align-text-top">{{title}}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse"  data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <app-boton 
      color="red"
       text="Un boton Maestro"
       (btnClick)="toggleAddDatos()"
       ></app-boton>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"  data-bs-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
          <div class="collapse navbar-collapse" id="collapsibleNavbar">
        
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link waves-effect waves-light" href="https://github.com/LupitaFrias" >
              <i class="fab fa-github fa-2x" ></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-effect waves-light" href="https://vimeo.com/alepippa">
                <i class="fab fa-vimeo fa-2x"></i>
              </a>
            </li>
          
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-success my-2 my-sm-0" onclick="showSalirModal()">
              SALIR</button>
    
          </form>
        </div>
    
      </div>
    </nav>
    
    </header>
