
    <section class="section6" id="section6">
        <div class="card mat-card">
          <div class="card-titles">
            <h2>Comentarios </h2>
         
            <div class="btn-edit"><a routerLink="/addComentario" class="btn-right"><fa-icon [icon]="faPaperclip" class="btn-right"></fa-icon></a>
            </div></div>
            <h4></h4>
            <ul class="items-list" id="eduList" *ngFor="let comentario of comentarioList"  >
       
              <router-outlet></router-outlet>
             
            <p>{{comentario.comentario}}</p>
            <p>{{comentario.usuario}}</p>
          
            </ul>
           
          </div>
          
           
           
        </section>