<section class="section4" id="section4">
    <div class="card mat-card" id="apt">
      <div class="card-titles">
        
        <h2>Hard Skills & Soft Skills</h2>
        <router-outlet></router-outlet>
       
        <a routerLink="/add-aptitud" class="fa fa-plus"></a>
       
        </div>
      <div>
      <ol class="items-list" id="aptList">
        <li *ngFor="let aptitudes of aptitudesList"  >
        
          <div class="aptitude-info">
            <a href="#">
              <h2>{{aptitudes.name  | uppercase}}  </h2>
              <div class="progress" style="height: 30px">
              <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
           
            
           
              
              
          
            <p><span id="apt-name">Skill:</span> {{aptitudes.name}}- <span id="apt-progress">Progreso:</span>  {{aptitudes.progress }} </p>
            
            
        </a>
        
        
        
 
       
        <div class="data-control">
    
        <div class="btn-edit"><a href="#" class="btn-right"><i class="fa fa-pen" ></i></a></div>
        <div class="btn-edit" class="btn-right"><i class="fa fa-trash" (click)="onDelete(aptitudes)"></i></div>
      </div>
           </div>
    </li>
    </ol>
  </div>
  </div>


</section>



    
   
   
